<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <!-- JavaScript plugins (requires jQuery) -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- script src="http://code.jquery.com/jquery.js"></script -->
    <!--   Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!--   Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/chat.css">
    <script type="text/javascript" src="/js/phoenix.js"></script>

    <title>Phoenix demo app</title>
  </head>

  <body>
    <nav class="navbar navbar-default" id="navbar-main" role="navigation">
      <div class="navbar-header">
        <div class="navbar-brand">
	  <a href="/">Home</a>
	</div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav nav-pills pull-right">
	  <!-- https://github.com/phoenixframework/phoenix/issues/351 -->
	  <%= if @current_user == nil do %>
          <li>
	    <a href="<%= Router.sessions_path(:new) %>">Login</a>
	  </li>
	  <% else %>
	  <li>
            <a href="<%= Router.users_path(:show, @current_user.id) %>"><%= @current_user.email %></a>
	  </li>
	  <li>
	    <a href="<%= Router.sessions_path(:destroy) %>">Logout</a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <%= for notice <- Flash.get_all(@conn, :notice) do %>
    <div class="container">
      <div class="row">
	<div class="alert alert-success" role="alert">
	  <p><%= notice %></p>
	</div>
      </div>
    </div>
    <% end %>

    <%= for alert <- Flash.get_all(@conn, :alert) do %>
    <div class="container">
      <div class="row">
	<div class="alert alert-danger" role="alert">
	  <p><%= alert %></p>
	</div>
      </div>
    </div>
    <% end %>

    <div class="container">
      <%= @inner %>
    </div>

    <div class="container">
	<h1>Help</h1>
	<%= unless @current_user do %>
	<p>Chances are that you already followed the instructions in the README. If you didn't, read how to seed the
	  database and then login with one of the users created in the seeds.exs file.</p>
	<p>They are</p>
	<ul>
	  <li>admin@example.com / password</li>
	  <li>user@example.com / password</li>
	</ul>
      <% else %>
	<p>Try to access to other users with the /users/:id and the /admin/users/:id URLs.</p>
      <% end %>
    </div>

  </body>
</html>
